<section class="cover text-center">
    <app-header></app-header>
    <div class="cover-container pb-5">
        <div class="cover-inner container">
            <h1 style="font-family: cursive; font-style: italic;">BookMyStay</h1>
            <h4 style="font-family: cursive; font-style: italic;">A legendary welcome, every time...</h4>
            <div class="container col-md-4 mt-4">
                <div class="card m-2 border-0">
                    <div class="card-body">
                        <h5 class="card-header text-primary text-center">Reach out to us</h5>
                        <div class="card-text text-center text-primary">
                            <br>
                            <img src="https://cdn.pixabay.com/photo/2013/04/01/21/31/mail-99217__340.png" width="30"
                                height="30" class="d-inline-block align-top" alt="">
                            <h6 class="card-text">Write to management</h6>
                            <div class="card-text text-dark">
                                <p>dakus@outlook.com</p>
                                <p>dakus@gmail.com</p>
                            </div>
                        </div>
                        <div class="card-text text-center text-primary">
                            <img src="https://cdn.pixabay.com/photo/2012/04/13/00/14/phone-31172__340.png" width="30"
                                height="30" class="d-inline-block align-top" alt="">
                            <h6>You can also call us at</h6>
                            <div class="card-text text-dark">
                                <p>+91-9875878586</p>
                                <p>+91-7654456788</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>