body {
    margin: 0;
    padding: 0;
    /* background-image: url("https://www.keyshotels.com/uploads/dining/0551665001445851553.jpg"); */
    background-color: #17a2b8;
    height: 130vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 40px;
    max-width: 900px;
    height: 800px;
    width: 700px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link #forgetPassword {
    margin-top: -85px;
  }

  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .cover {
    background: #2b2d34 url(https://www.purehd.com/hubfs/PureHD_September2019/Images/Home-Slider01.jpg) center;
    background-size: cover;
    min-height: 80rem;
    height: 100vh;
    border-radius: 0;
    width: 100%;
    color: #fff;
    padding-top: 1rem; }

    div {
        font-style: italic;
        color: black;
    }