<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>empwebapp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<context-param>
		<param-name>companyName</param-name>
		<param-value>Capgemini</param-value>
	</context-param>
	

	<servlet>
		<servlet-name>dateServlet</servlet-name>
		<servlet-class>com.capgemini.empwebapp.servlets.DateServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>dateServlet</servlet-name>
		<url-pattern>/currentDate</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getEmployee</servlet-name>
		<servlet-class>com.capgemini.empwebapp.servlets.GetEmployeeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>getEmployee</servlet-name>
		<url-pattern>/getEmp</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>servletConfigParam</servlet-name>
		<servlet-class>com.capgemini.empwebapp.servlets.ConfigParamServlet</servlet-class>
		<init-param>
			<param-name>empName</param-name>
			<param-value>Pooja</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>servletConfigParam</servlet-name>
		<url-pattern>/configParam</url-pattern>
	</servlet-mapping>
	

</web-app>