<nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-trans navbar-inverse">
  <div class="container">
    <div id="mySidenav" class="sidenav">
      <div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeNav()">
          <span aria-hidden="true" style="color: cornsilk;">&times;</span>
        </button>
      </div>
      <br>
      <a routerLink="/">Home</a>
      <a routerLink="/about-us">About Us</a>
      <a routerLink="/contact-us">Contact Us</a>
      <a routerLink="/services">Services</a>
    </div>
    <!-- Use any element to open the sidenav -->
    <button class="button menu" type="button btn btn-outline btn-primary" (click)="openNav()">MENU</button>
    <ul class="navbar-nav">
      <div class="btn-group">
        <button class="btn btn-success btn-block btn-lg " type="button login" (click)='openLogin()'
          style="display: inline-block;">Login</button><br>&nbsp;
        <button class="btn btn-primary btn-block btn-lg" type="button" (click)='openRegister()'
          style="display: inline-block;">Register</button>
      </div>
    </ul>
  </div>

</nav>