body {
    margin: 0;
    padding: 0;
    /* background-image: url("https://www.keyshotels.com/uploads/dining/0551665001445851553.jpg"); */
    background-color: #17a2b8;
    height: 110vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 40px;
    max-width: 600px;
    height: 400px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link #forgetPassword {
    margin-top: -85px;
  }
  .cover {
    background: #2b2d34 url(https://www.purehd.com/hubfs/PureHD_September2019/Images/Home-Slider01.jpg) center;
    background-size: cover;
    min-height: 45.1rem;
    height: 100vh;
    border-radius: 0;
    width: 100%;
    color: #fff;
    padding-top: 1rem; }

    div {
        font-style: italic;
        color: black;
    }
