<section class="cover">
  <app-navbar></app-navbar>
  <div style="height: 470px;">
    <div class="col-md-4 offset-md-2 float-left mt-5">
      <div class="card">
        <div class="card-header bg-primary text-white">
          Hotel Policies
        </div>
        <div class="card-body">
          Guests shall be liable for any damage, except normal wear and tear to Hotel asset. Guest shall keep the Hotel
          room in a good condition and maintain hygiene and cleanliness. Certain policies are booking specific and are
          informed to the customer while making the booking.
        </div>
        <div class="card-footer">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewFood">
            View Hotel Policies
          </button>

          <!-- Modal -->
          <div class="modal fade" id="viewFood" tabindex="-1" role="dialog" aria-labelledby="viewFoodTitle"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="viewFoodTitle">Hotel Policies</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>1. A non-refundable policy shall apply for all accommodation paid.</p>

                  <p>2. Cancellation Policy
                    Booking will only be confirmed once we have received a credit card or cash deposit (through
                    telegraphic
                    transfer).
                    Two nights deposit is non - refundable
                    No Show – Full Payment</p>

                  <p>3. Accommodation may be settled as follows:
                    Upon arrival
                    On departure – credit card details or passport must be handed to receptionist on arrival, to be
                    returned
                    on departure
                    Individual or group bookings of 7 days or more must pay at least 50% of accommodation upon arrival
                    (with
                    or without discount rates)
                    Full settlement of bill before departing the hotel
                    Payment must be made in advance to receive long-term discount rates (7 nights minimum)</p>

                  <p>4. Minimum stay is 2 nights. We do not take 1 night bookings.</p>

                  <p>5. Check in time is 2.00pm. If you check in before this time you will be charged for the night
                    before.</p>

                  <p>6. Check out time is 11.00am. If you check out after 10am and before 6pm you will be charged a late
                    check out fee, which is half the room rate. If you check out after 6pm you will be charged for an
                    extra
                    night.</p>

                  <p>7. We do not offer half-day rates on accommodation. If you check in and check out on the same day
                    you
                    must pay full room rate.</p>

                  <p>8. The hotel is not responsible for any personal effects lost on premises. A safety box is
                    available
                    in
                    the manager’s office to store your valuables. We strongly recommend that you utilize this service to
                    ensure the safety of your valuables (passports & travel documents, money, credit cards, jewelry,
                    etc).
                  </p>

                  <p>9. Please hand in room keys to reception before leaving the hotel at any given time. Lost room keys
                    will
                    incur a $20.00 charge per key.</p>

                  <p>10. Guests will be liable for lost or damaged property incurred by them during their stay.</p>

                  <p>11. Visitors are requested to leave rooms by 9.00pm</p>

                  <p>12. All rooms are NON-SMOKING!</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 float-left mt-5">
      <div class="card">
        <div class="card-header bg-primary text-white">
          Tariff Plan and Facilities
        </div>
        <div class="card-body">
          Tariff is a charge of room rates and other facilities. Tariff or room charges may include meal or breakfast
          depending upon the plan as per the guest choices. Room charge also differs according to seasons. The plan
          taken
          by the guest also makes the difference in room rates.
        </div>
        <div class="card-footer">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#hotelPolicies">
            View Tariff Plan and Facilities
          </button>

          <!-- Modal -->
          <div class="modal fade" id="hotelPolicies" tabindex="-1" role="dialog" aria-labelledby="hotelPoliciesTitle"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="hotelPoliciesTitle">Tariff Plan and Facilities</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Basis of charging room rates:</p>
                  <p>The sale of rooms contributes more than 50% of total revenue generated in the hotel. rooms are
                    charged
                    on the following basis:</p>
                  <p>1. The 24 hours basis:</p>
                  <p>In twenty-four hours basis the room is charged for the stay of 24 hours. If a guest arrives at 9 am
                    today, the room charges will cover until 9 an tomorrow. No concession will be given if the guest
                    leaves
                    few hours earlier. His/her hotel day begins at 9 am every subsequent day. There is not any fixed
                    time
                    for check-in and check-out.</p>
                  <p>2. The 12:00 noon:</p>
                  <p>A particular time of a day is fixed, mostly 12:00 noon as a check-in and check-out time for all the
                    guests, hotel day begins at this time. This method is advantageous that a room can be sold twice in
                    a
                    same day. For example, Mr. A arrives at 12:00 noon and checks out early. After few hours, Mr. Y
                    arrives
                    and is provided the same room, he is also charged for whole day.</p>
                  <p>3. The Nightly basis:</p>
                  <p>Here, the charge is fixed, according to the nights spent in the hotel. If a guest stays from 10 am
                    until
                    6 am the next day, the guest in charged for one night or a day.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>