<section class="cover text-center">
    <app-navbar></app-navbar>
    <div class="cover-container pb-5">
        <div class="cover-inner container">
            <h1 style="font-family: cursive; font-style: italic;">BookMyStay</h1>
            <h4 style="font-family: cursive; font-style: italic;">A legendary welcome, every time...</h4>
            <br><br>
            <div class="container col-md-6">
                <div class="card card-title">About us</div>
                <div class="card card-body">
                    <p>Online hotel reservations are a popular method for booking
                        hotel rooms. Travelers can book rooms on a computer by
                        using online security to protect their privacy and financial
                        information and by using several online travel agents to
                        compare prices and facilities at different hotels.
                        With our website you can easily find your ideal hotel.
                        Simply enter where you want to go and your desired travel
                        dates.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
