
    <div class="card col-md-6 col-6 col-sm-6 col-lg-6 offset-3 mt-5">
        <h4>Please Login</h4>
        <form action="">
            <div class="from-group">
                <label for="Email">Email : </label>
                <input type="email" name="email" id="email" class="form-control">
            </div>
            <div class="from-group">
                    <label for="password">Password : </label>
                    <input type="password" name="password" id="password" class="form-control">
            </div>
            <div class="btn-group float-right">
                <input type="reset" value="Reset" class="btn btn-outline-dark">
                <input type="submit" value="Submit" class="btn btn-outline-primary">
            </div>
        </form>
    </div>

